.Home {
  width: 90%;
  margin: auto;
  font-size: 20px;
  
}

.part1 h1{
  position: relative;
  margin: 0;
  font-size: 4rem;
  font-weight: 900;
  color: #0d0202;
  z-index:1;
  overflow: hidden;
}
h1::before{
  content: '';
  position: absolute;
  left:0;
  width: 120%;
  height: 100%;
  background:linear-gradient(90deg,transparent 0%,#000 5%,#000 100%) ;
  animation: animate 5.5s linear forwards;
  animation-delay: 2s;
}
@keyframes animate{
  0%{
    left:110%
  }
  100%{
    left:-20%
  }
}

h1 span{
  color: #ab320a;
}
.Home {
  width: 90%;
  margin: auto;
  font-size: 20px;
}

h1 {
  position: relative;
  margin: 0;
  font-size: 4rem;
  font-weight: 900;
  color: #0d0202;
  z-index: 1;
  overflow: hidden;
}

h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
  animation: animate 2.5s linear forwards;
  animation-delay: 2s;
  z-index: -1;
}

@keyframes animate {
  0% {
    left: 110%;
  }
  100% {
    left: -20%;
  }
}

h1 span {
  color: #f8f6f5;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: screen;
}

.part1 .p1 img {
  max-width: 100%;
  height: 315px;
  width: 600px;
  padding: 30px;
}

.p2 {
  display: inline-block;
  font-family: "Arial";
  font-size: 24px;
}

.part2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.part2 .p1,
.part2 .p2,
.part2 .p3,
.part2 .p4 {
  flex: 1;
  padding: 10px;
}

.part2 table {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.part2 td {
  padding: 20px;
  border: 1px solid #030202;
}

.part2 img {
  width: 100%;
  height: auto;
  padding-top: 52px;
}
/* styles.css */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-pic {
  animation: slideInFromLeft 1s ease forwards;
}


.part3 h2 {
  text-align: center;
}

.part3 p {
  text-align: center;
  padding-top: 20px;
}

.part3 button {
  background-color: #e12c72;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 5px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
  margin: 30px 50px 10px 130px;
}

.part4 .p1 .h2 {
  text-align: center;
  padding: 10px 0px 20px 50px;
  font-family: "Monotype Corsiva";
  color: #0d0909;
  font-size: 52px;
}

.part4 .p1 img {
  height: 25px;
  width: 25px;
  margin-right: 40px;
}

.part4 table {
  margin: 10px;
  font-size: 20px;
}

.part4 .p1 tr {
  padding: 0px;
  font-size: 20px; 
}

.part4 .social img {
  width: 40px;
  height: 40px;
}

.social {
  padding: 20px;
}

.part4 .social a {
  display: inline-block;
  margin: 10px 10px 0 20px;
  width: 40px;
  height: 40px;
  padding: 0px 5px 10px 0px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #0f0f0f;
  border-radius: 4px;
}

.form-control {
  width: 70%;
  height: 35px;
  padding: 10px 15px;
  color: #999999;
  border: 1px solid #030202;
  margin: 15px;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  color: #e3a2c4;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #74275e;
  margin: 20px;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #ffffff;
  background: #804369;
  box-shadow: none;
}

.part1,
.part2,
.part3,
.part4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.part1 .p2,
.part2 .p1,
.part2 .p2,
.part2 .p3,
.part2 .p4,
.part3 .p1,
.part3 .p2,
.part3 .p3,
.part3 .p4,
.part4 .p1,
.part4 .p2 {
  flex: 1;
  background-color: #e9d3d3;
  margin: 8px;
  border-collapse: collapse;
}

.part1 .p1 img {
  max-width: 100%;
  height: 315px;
  width: 600px;
  padding: 30px; 
  
}
.p2{
  display: inline-block;
  font-family: "arial";
  font-size: 24px;
}


.part2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.part2 .p1,
.part2 .p2,
.part2 .p3,
.part2 .p4 {
  flex: 1;
  padding: 20px; 
}

.part2 table {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
  margin-bottom: 10px; 
}

.part2 td {
  padding: 20px;
  border: 1px solid #030202; 
}

.part2 img {
  width: 100%; 
  height: auto; 
}

.part3 h1 {
  text-align: center;
}

.part3 p {
  text-align: center;
  padding-top: 20px;
}

.part3 button {
  background-color: #e12c72;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 5px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
  margin: 30px 50px 10px 130px;
}
.part4 h2{
  text-align:left;
  padding: 10px 0px 20px 50px;
  font-family:"Monotype Corsiva";
  color: hsl(0, 18%, 4%);
  font-size: 72px;
}





.part4 .p1 img {
  height: 25px;
  width: 25px;
  margin-right: 40px; 
  
}

.part4 table {
  margin: 10px;
  font-size: 20px;
  
}

.part4 .p1 tr {
  padding: 0px;
  font-size:px;
  
}
.part4 .social img{
  width: 40px;
  height: 40px;
}
.social{
  padding: 20px;
}
.part4 .social a {
  display: inline-block;
  margin: 10px 10px 0 20px;
  width: 40px;
  height: 40px;
  padding: 0px  5px  10px 0px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #0f0f0f;
  border-radius: 4px;
}

.form-control {
    width: 70%;
    height: 35px;
    padding: 10px 15px;
    color: #999999;
    border: 1px solid #030202;
    margin: 15px;
    font-size:12px;
    font-family: 'Times New Roman', Times, serif;
}


.btn {
  color: #a91863;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #700e54;
 margin: 20px;
 font-size:12px;
  font-family: 'Times New Roman', Times, serif;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #ffffff;
  background: #5f1743;
  box-shadow: none;
}
 

.part1,
.part2,
.part3,
.part4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.part1 .p2,
.part2 .p1,
.part2 .p2,
.part2 .p3,
.part2 .p4,
.part3 .p1,
.part3 .p2,
.part3 .p3,
.part3 .p4,
.part4 .p1,
.part4 .p2 {
  flex: 1;
  background-color: #e9d3d3; 
  margin: 8px;
  border-collapse: collapse;
}


@media (max-width: 780px) {
  
  .part1,
  .part2,
  .part3,
  .part4 {
    flex-direction: column;
  }

  .part3 p,
  .part4 h2 {
    text-align: left;
  }

  .part3 button,
  .part4 .social a {
    margin: 9px 0;
  }

  .form-control {
    width: 100%;
  }
}


@media (max-width: 480px) {
  
  .part1,
  .part2,
  .part3,
  .part4 {
    flex-direction: column;
  }

  .part3 p,
  .part4 h2 {
    text-align: left;
  }

  .part3 button,
  .part4 .social a {
    margin: 9px 0;
  }

  .form-control {
    width: 100%;
  }
}
